[Desktop Entry]
Comment=Read plain text files
Comment[ar]=اقرأ ملفات النص العادي
Comment[es]=Leer archivos de texto sin formato
Comment[zh_tw]=讀取純文本文件
Exec=dumb_text_viewer %U
GenericName=Text Viewer
Icon=underwhelming_software-dumb_text_viewer
MimeType=text/css;text/csv;text/html;text/plain;text/richtext;text/tab-separated-values;text/x-python;text/x-setext;text/x-sgml;text/x-vcard;text/xml;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml
Name=Dumb Text Viewer
Terminal=false
Type=Application
Version=1.0
