# .coveragerc to control coverage.py
[run]
branch = True
source = polycotylus
relative_files = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Ignore docker/podman dependent code
    if .*(self|docker)\.variant.*:

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    @abc
ignore_errors = True
show_missing = True
fail_under = 100
