# Maintainer: {{ this.project.maintainer_slug }}
pkgname={{ this.project.name | shlex_quote }}
pkgver={{ this.project.version | shlex_quote }}
pkgrel=1
pkgdesc={{ this.project.description | shlex_quote }}
arch={{ architecture | shlex_quote }}
license={{ license_names | join(" ") | shlex_quote }}
url={{ this.project.url | shlex_quote }}
depends={{ this.dependencies | join(" ") | shlex_quote }}
makedepends={{ this.build_dependencies | join(" ") | shlex_quote }}
checkdepends={{ this.test_dependencies | join(" ") | shlex_quote }}
source="$pkgname-$pkgver.tar.gz::{{ this.project.source_url.format(version="$pkgver") }}"
builddir="$srcdir/_build"
{{ 'subpackages="$pkgname-doc"' if "custom" in license_names }}
