name: Test

on:
  workflow_dispatch:

jobs:
  main:
    strategy:
      matrix:
        _:
          - python: 3.13-dev
            docker: docker
          - python: 3.8.12  # Test https://docs.python.org/3/library/tarfile.html#supporting-older-python-versions
            docker: podman
        suite:
          - tests/test_mirror.py tests/test_docker.py tests/test_project.py tests/test_desktopfile.py tests/test_docs.py
          - tests/test_alpine.py tests/test_completion.py
          - tests/test_arch.py tests/test_configuration.py
          - tests/test_manjaro.py
          - tests/test_void.py
          - tests/test_debian.py
          - tests/test_ubuntu.py
        include:
          # Podman and Fedora have mystery sudo issues
          - _:
              python: 3.13-dev
              docker: docker
            suite: tests/test_fedora.py
      fail-fast: false

    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      POLYCOTYLUS_VERBOSITY: 1
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix._.python }}

      - run: sudo apt-get update && sudo apt-get install -y fish
      - run: |
          if grep -E 'alpine|manjaro|ubuntu' <<< '${{ matrix.suite }}' ; then
            sudo apt-get install -y qemu-user-static
            if [ "${{ matrix._.docker }}" = podman ] ; then
              for x in /usr/lib/binfmt.d/*.conf; do
                sed 's/\(:[^C:]*\)$/\1C/' "$x" | sudo tee /etc/binfmt.d/"$(basename "$x")"
              done
              sudo systemctl restart systemd-binfmt.service
            fi
          fi
      - run: python -m pip install -U pip setuptools wheel
      - run: pip install -e . -r tests/requirements.txt
      - run: polycotylus --configure docker=${{ matrix._.docker }}
      - run: pytest --cov-fail-under=0 -sv ${{ matrix.suite }}
      - run: mv .coverage .coverage-$(uuidgen)
      - uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ strategy.job-index }}
          path: .coverage-*
          include-hidden-files: true
          if-no-files-found: error

  coverage:
    runs-on: ubuntu-latest
    needs: main
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12  # must match latest version tested against
      - run: pip install coverage
      - uses: actions/download-artifact@v4
        with:
          pattern: coverage-*
          merge-multiple: true
      - run: coverage combine .coverage-*
      - run: coverage report
